{% if logged_in %}
{% set login_link, login_text = '/admin/content', '后台管理' %}
{% else %}
{% set login_link, login_text = '/user/login', '登录' %}
{% endif %}
					<div class="link-box">
						<div class="in-link in-public clearfix">
							<span>{{ 'Links:'|t }}</span>
							<a href="http://hxkjhb.com/" target="_blank">{{ 'Web Developement'|t }}</a>
						</div>
					</div>

					<div class="in-pc">
						<div class="footer-1">
							<div class="in-public clearfix">

  {% block content %}
    {{ content }}
  {% endblock %}
								<div class="footer-1-centent">
									<span> <img src="/{{ directory }}/img/img-er.jpg"> </span>
									<strong>{{ 'Follow Us'|t }}</strong>
								</div>
								<div class="footer-1-right">

                  <span>
                  {{ 'Address: Building 1, Beicheng Industrial Park, FangXian, Shiyan City, Hubei Province'|t }}
                  </span>
                  <span>
                  {{ 'Mr.Zhang  Mobile: +86-177-1237-7568  Mail: George.Zhang@powsemi.com'|t }}
                  </span>
                  <span>
                  {{ 'Mr.Xia     Mobile: +86-134-2510-3528  Mail: sales@powsemi.com'|t }}
                  </span>
                  <span>
                  {{ 'Tel: +86-0719-3105699  Fax: +86-0719-3103688'|t }}
                  </span>
								</div>
							</div>
						</div>
						<div class="footer-2">
							<div class="in-public">
								<p>Copyright © 2017 All Rights reserved © {{ 'Hubei Power Semiconductor Co.,Ltd
                '|t }} {{ 'Powered By: '|t }}<a href="http://www.hxkjhb.com/" target="_blank">{{ 'HUAXIANG TECHNOLOGY'|t }}</a> <a href="/sitemap.html" target="_blank">{{ 'Sitemap'|t }}</a> </p>
							</div>
						</div>
          </div>
