{% if logged_in %}
{% set login_link, login_text = '/admin/content', '后台管理' %}
{% else %}
{% set login_link, login_text = '/user/login', '登录' %}
{% endif %}
					<div class="link-box">
						<div class="in-link in-public clearfix">
							<span>{{ 'Links:'|t }}</span>
							<a href="http://hxkjhb.com/" target="_blank">{{ 'Web Developement'|t }}</a>
						</div>
					</div>

					<div class="in-pc">
						<div class="footer-1">
							<div class="in-public clearfix">
								<ul class="footer-1-left clearfix">
                <li> <h2> <a href="/about">关于力芯</a> </h2></li>
                <li> <h2><a href="/news">新闻动态</a></h2> </li>
                <li> <h2> <a href="/products">产品中心</a> </h2></li>
                <li style="width: 100%"></li>
                <li><h2> <a href="contact">联系我们</a></h2> </li>
                <li> <h2> <a href="/equipments/">厂房设备</a> </h2></li>
                <li> <h2> <a href="{{ login_link }}">{{ login_text }}</a> </h2> </li>

								</ul>
								<div class="footer-1-centent">
									<span> <img src="/{{ directory }}/img/img-er.jpg"> </span>
									<strong>{{ 'Follow Us'|t }}</strong>
								</div>
								<div class="footer-1-right">

                  <span>
                  {{ 'Address: Building 1, Beicheng Industrial Park, FangXian, Shiyan City, Hubei Province'|t }}
                  </span>
                  <span>
                  {{ 'Mr.Zhang  Mobile: +86-177-1237-7568  Mail: George.Zhang@powsemi.com'|t }}
                  </span>
                  <span>
                  {{ 'Mr.Xia     Mobile: +86-134-2510-3528  Mail: sales@powsemi.com'|t }}
                  </span>
                  <span>
                  {{ 'Tel: +86-0719-3105699  Fax: +86-0719-3103688'|t }}
                  </span>
								</div>
							</div>
						</div>
						<div class="footer-2">
							<div class="in-public">
								<p>Copyright © 2017 All Rights reserved © {{ 'Hubei Power Semiconductor Co.,Ltd
                '|t }} {{ 'Powered By: '|t }}<a href="http://www.hxkjhb.com/" target="_blank">{{ 'HUAXIANG TECHNOLOGY'|t }}</a> <a href="/sitemap.html" target="_blank">{{ 'Sitemap'|t }}</a> </p>
							</div>
						</div>
          </div>
