		<div class="lx-content">
			<div class="lx-header" aos="fade-down" aos-easing="ease" aos-delay="550">
				<div class="lx-h-name">
					<strong>产品中心</strong>
					<span>PRODUCT CENTER</span>
				</div>
				<p class="lx-ms">半导体是专业从事 二极管、三极管、频率 等产业的制造商</p>
				<div class="slideTxtBox product-box">
					<div class="hd">
						<ul class="clearfix">
							<li class="on">整流桥 </li>
							<li>二极管</li>
						</ul>
					</div>
					<div class="bd">
						<div class="product-con">
							<ul>
								<li aos="fade-down" aos-easing="ease" aos-delay="500">
									<a href="#">
										<span class="pro-item-bg "></span>

										<img class="img-show" src="/{{ directory }}/img/img-a1.png" />
										<img class="img-hide" src="/{{ directory }}/img/img-a1-1.png" />
										<strong>普通整流管</strong>
										<p>在市场拓展方面同，力芯半导体不断开拓与国外半导体行业的知名厂商合作，大力开发海外客户，产品出品比例达到35%以上。 </p>
									</a>
								</li>
								<li aos="fade-down" aos-easing="ease" aos-delay="500">
									<a href="#">
										<span class="pro-item-bg"></span>
										<img class="img-show" src="/{{ directory }}/img/img-a2.png" />
										<img class="img-hide" src="/{{ directory }}/img/img-a2-1.png" />
										<strong>快恢复整流管</strong>
										<p>在市场拓展方面同，力芯半导体不断开拓与国外半导体行业的知名厂商合作，大力开发海外客户，产品出品比例达到35%以上。 </p>
									</a>
								</li>
								<li aos="fade-down" aos-easing="ease" aos-delay="500">
									<a href="#">
										<span class="pro-item-bg"></span>
										<img class="img-show" src="/{{ directory }}/img/img-a3.png" />
										<img class="img-hide" src="/{{ directory }}/img/img-a3-1.png" />
										<strong>超快恢复二极管</strong>
										<p>在市场拓展方面同，力芯半导体不断开拓与国外半导体行业的知名厂商合作，大力开发海外客户，产品出品比例达到35%以上。 </p>
									</a>
								</li>
								<li aos="fade-down" aos-easing="ease" aos-delay="500">
									<a href="#">
										<span class="pro-item-bg"></span>
										<img class="img-show" src="/{{ directory }}/img/img-a4.png" />
										<img class="img-hide" src="/{{ directory }}/img/img-a4-1.png" />
										<strong>高效率整流管</strong>
										<p>在市场拓展方面同，力芯半导体不断开拓与国外半导体行业的知名厂商合作，大力开发海外客户，产品出品比例达到35%以上。 </p>
									</a>
								</li>
								<li aos="fade-down" aos-easing="ease" aos-delay="500">
									<a href="#">
										<span class="pro-item-bg"></span>
										<img class="img-show" src="/{{ directory }}/img/img-a5.png" />
										<img class="img-hide" src="/{{ directory }}/img/img-a5-1.png" />
										<strong>肖特基垒势整流管</strong>
										<p>在市场拓展方面同，力芯半导体不断开拓与国外半导体行业的知名厂商合作，大力开发海外客户，产品出品比例达到35%以上。 </p>
									</a>
								</li>
								<li aos="fade-down" aos-easing="ease" aos-delay="500">
									<a href="#">
										<span class="pro-item-bg"></span>
										<img class="img-show" src="/{{ directory }}/img/img-a6.png" />
										<img class="img-hide" src="/{{ directory }}/img/img-a6-1.png" />
										<strong>TVS管</strong>
										<p>在市场拓展方面同，力芯半导体不断开拓与国外半导体行业的知名厂商合作，大力开发海外客户，产品出品比例达到35%以上。 </p>
									</a>
								</li>
							</ul>
						</div>
						<div class="product-con" style="display: none;">
							<ul>
								<li aos="fade-down" aos-easing="ease" aos-delay="500">
									<a href="#"><span class="pro-item-bg"></span>
										<img src="/{{ directory }}/img/img-a1.png" />
										<strong>普通整流管1</strong>
										<p>在市场拓展方面同，力芯半导体不断开拓与国外半导体行业的知名厂商合作，大力开发海外客户，产品出品比例达到35%以上。 </p>
									</a>
								</li>
								<li aos="fade-down" aos-easing="ease" aos-delay="500">
									<a href="#"><span class="pro-item-bg"></span>
										<img src="/{{ directory }}/img/img-a2.png" />
										<strong>快恢复整流管</strong>
										<p>在市场拓展方面同，力芯半导体不断开拓与国外半导体行业的知名厂商合作，大力开发海外客户，产品出品比例达到35%以上。 </p>
									</a>
								</li>
								<li aos="fade-down" aos-easing="ease" aos-delay="500">
									<a href="#"><span class="pro-item-bg"></span>
										<img src="/{{ directory }}/img/img-a3.png" />
										<strong>超快恢复二极管</strong>
										<p>在市场拓展方面同，力芯半导体不断开拓与国外半导体行业的知名厂商合作，大力开发海外客户，产品出品比例达到35%以上。 </p>
									</a>
								</li>
								<li aos="fade-down" aos-easing="ease" aos-delay="500">
									<a href="#"><span class="pro-item-bg"></span>
										<img src="/{{ directory }}/img/img-a4.png" />
										<strong>高效率整流管</strong>
										<p>在市场拓展方面同，力芯半导体不断开拓与国外半导体行业的知名厂商合作，大力开发海外客户，产品出品比例达到35%以上。 </p>
									</a>
								</li>
								<li aos="fade-down" aos-easing="ease" aos-delay="500">
									<a href="#">
										<span class="pro-item-bg"></span>
										<img src="/{{ directory }}/img/img-a5.png" />
										<strong>肖特基垒势整流管</strong>
										<p>在市场拓展方面同，力芯半导体不断开拓与国外半导体行业的知名厂商合作，大力开发海外客户，产品出品比例达到35%以上。 </p>
									</a>
								</li>
								<li aos="fade-down" aos-easing="ease" aos-delay="500">
									<a href="#"><span class="pro-item-bg"></span>
										<img src="/{{ directory }}/img/img-a6.png" />
										<strong>TVS管</strong>
										<p>在市场拓展方面同，力芯半导体不断开拓与国外半导体行业的知名厂商合作，大力开发海外客户，产品出品比例达到35%以上。 </p>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
    </div>
