{{ page.header }}
{{ page.nav }}
		<div class="child-banner" style="background-image: url(/{{ directory }}/img/img-d1.png);">
			<div class="child-banner-1">
				<div>
					<h2>新闻动态</h2>
					<span>NEWS</span>
				</div>
			</div>
		</div>
{{ page.breadcrumb }}
<div class="new-box">
{{ page.content }}
</div>
{{ page.footer }}
{{ page.float }}
