{{ page.header }}
{{ page.nav }}
    {% if node.field_tags.0.target_id == 16 %}
		<div class="child-banner" style="background-image: url(/{{ directory }}/img/bg-news.jpg);">
			<div class="child-banner-1">
				<div>
					<h2>新闻动态</h2>
					<span>NEWS</span>
				</div>
			</div>
		</div>
    {% elseif node.field_tags.0.target_id == 19 %}
		<div class="child-banner" style="background-image: url(/{{ directory }}/img/bg-equipments.jpg);">
			<div class="child-banner-1">
				<div>
					<h2>厂房设备</h2>
					<span>EQUIPMENTS</span>
				</div>
			</div>
		</div>
    {% endif %}

{{ page.breadcrumb }}
<div class="new-box">
{{ page.content }}
</div>
{{ page.footer }}
{{ page.float }}
