{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}

  {{ page.header }}
  {{ page.nav }}

		<div class="child-banner" style="background-image: url(/img/img-d1.png);">
			<div class="child-banner-1">
				<div>
					<h2>产品中心</h2>
					<span>PRODUCT CENTER</span>
				</div>
			</div>
		</div>
  {{ page.breadcrumb }}
		<div class="new-dis">
			<div class="new-w">
				当前位置:<a href="/">首页</a>&nbsp;&gt;&nbsp;<a href="/#/">产品中心</a> </div>
		</div>
		<div class="product-center">
			<div class="boxwrap">
				<!--left-->
				<div class="_left">

					<div class="left3_area left_pro ">
						<div class="hd">
							<img src="/img/img-lg.png" />
						</div>
						<div class="bd-item">
							<div class="inner-data">
								<ul>

									<li id="sid_160"><a title="二极管" href="javascript:;" class="one_class curr">二极管</a>
										<dl class="list" style="">

											<dd><a href="#">Ø普通整流管</a></dd>

											<dd><a href="#">Ø快恢复整流管</a></dd>

											<dd><a href="#">Ø超快恢复二极管</a></dd>

											<dd><a href="#">Ø高效率整流管</a></dd>
											<dd><a href="#">Ø肖特基垒势整流管</a></dd>
											<dd><a href="#">ØTVS管</a></dd>
										</dl>
									</li>

									<li id="sid_161"><a title="三极管" href="javascript:;" class="one_class">整流桥</a>
										<dl class="list">

											<dd><a href="#">Ø普通整流桥</a></dd>

											<dd><a href="#">Ø普通整流桥</a></dd>
											<dd><a href="#">Ø超快恢复整流桥</a></dd>
											<dd><a href="#">Ø高效率整流桥</a></dd>
											<dd><a href="#">Ø肖特基整流桥</a></dd>
										</dl>
									</li>

								</ul>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="line15"></div>

					<div class="left3_area left_pro lite-lxwm ">
						<div class="hd lxwm">
							联系我们
						</div>
						<div class="bd-item">
							<div class="inner-data">
								<p> 湖北力芯半导体有限公司</p>
								<p> 地址：湖北省十堰市房县北城工业园一栋</p>
								<p> 联系：张胜君</p>
								<p> 电话：0719-3105699</p>
								<p> 手机：177-1237-7568</p>
								<p> 邮箱： George.Zhang@powsemi.com </p>
								<p> Sales@powsemi.com</p>
							</div>
							<div class="clear"></div>
						</div>
					</div>

				</div>

				<!--/left-->
				<div class="right_area">
					<div class="hd2">

						<h1>产品中心</h1>

					</div>

					<div class="bd-item" style="border:none;padding:0;width:950px;">
						<div class="line15"></div>
						<div id="productgrid" style="width:100%">
							<div class="smdui_view smdui_form smdui_layout_form" role="form" view_id="root_view" style="border-width: 0px; width: 948px; height: 802px; position: static;">
								<div class="smdui_scroll_cont">
									<div class="smdui_view smdui_dtable" id="datatable1603933307114" role="grid" aria-readonly="true" view_id="list_table" style="border-width: 1px; position: relative; margin-left: 0px; margin-top: 0px; width: 946px; height: 800px; cursor: default;" aria-colcount="17"
									aria-rowcount="369">
										<div class="smdui_ss_header" style="height: 111px;">
											<div class="smdui_hs_left" style="width: 0px;"></div>
											<div class="smdui_hs_center" style="width: 929px;">
												<table role="presentation" style="width:100%" cellspacing="0" cellpadding="0">
													<tbody>
														<tr>
															<th style="width:100px"></th>
															<th style="width:50px"></th>
															<th style="width:70px"></th>
															<th style="width:70px"></th>
															<th style="width:70px"></th>
															<th style="width:80px"></th>
															<th style="width:80px"></th>
															<th style="width:70px"></th>
															<th style="width:70px"></th>

														</tr>
														<tr section="header" role="row">
															<td role="presentation" column="0" class="smdui_first" rowspan="2">
																<div role="columnheader" class="smdui_hcell" style="line-height:73px; height:73px;">TYPR</div>
															</td>
															<td role="presentation">
																<div role="columnheader" class="smdui_hcell">V<sub>RRM</sub></div>
															</td>
															<td role="presentation" column="4">
																<div role="columnheader" class="smdui_hcell">IF<sub>(AV) </sub></div>
															</td>
															<td role="presentation" column="5">
																<div role="columnheader" class="smdui_hcell">I<sub>FSM</sub></div>
															</td>
															<td role="presentation" column="6">
																<div role="columnheader" class="smdui_hcell">V<sub>F</sub></div>
															</td>
															<td role="presentation" column="7">
																<div role="columnheader" class="smdui_hcell">I<sub>R</sub></div>
															</td>
															<td role="presentation" column="8">
																<div role="columnheader" class="smdui_hcell">T<sub>rr</sub> </div>
															</td>
															<td role="presentation" column="7">
																<div role="columnheader" class="smdui_hcell"> TJ Max.</div>
															</td>
															<td role="presentation" column="7" rowspan="2">
																<div role="columnheader" class="smdui_hcell"> Package</div>
															</td>

														</tr>
														<tr section="header" role="row">
															<td role="presentation" column="1">
																<div role="columnheader" class="smdui_hcell">V</div>
															</td>
															<td role="presentation" column="2">
																<div role="columnheader" class="smdui_hcell">A</div>
															</td>
															<td role="presentation" column="3">
																<div role="columnheader" class="smdui_hcell">A</div>
															</td>
															<td role="presentation" column="4">
																<div role="columnheader" class="smdui_hcell">V</div>
															</td>
															<td role="presentation" column="5">
																<div role="columnheader" class="smdui_hcell">μA</div>
															</td>
															<td role="presentation" column="6">
																<div role="columnheader" class="smdui_hcell">ns</div>
															</td>
															<td role="presentation" column="7">
																<div role="columnheader" class="smdui_hcell">(°C)</div>
															</td>

														</tr>
														<tr section="header" role="row">
															<td role="presentation" column="0" class="smdui_first" active_id="1603933307146">
																<div role="columnheader" class="smdui_hcell smdui_ss_filter">
																	<select>
																		<option value=""></option>
																		<option value="1N4728A">1N4728A</option>
																		<option value="1N4729A">1N4729A</option>

																	</select>
																</div>
															</td>
															<td role="presentation" column="1" active_id="1603933307147">
																<div role="columnheader" class="smdui_hcell smdui_ss_filter">
																	<select>

																		<option value="40">40</option>
																		<option value="43">43</option>
																		<option value="44">44</option>
																		<option value="48">48</option>
																		<option value="5.1">5.1</option>
																		<option value="5.2">5.2</option>

																	</select>
																</div>
															</td>
															<td role="presentation" column="2" active_id="1603933307148">
																<div role="columnheader" class="smdui_hcell smdui_ss_filter">
																	<select>

																		<option value="30">30</option>
																		<option value="31">31</option>
																		<option value="33">33</option>
																		<option value="34">34</option>
																		<option value="36">36</option>
																		<option value="37">37</option>
																		<option value="39">39</option>
																		<option value="4">4</option>
																		<option value="4.3">4.3</option>
																		<option value="4.4">4.4</option>

																	</select>
																</div>
															</td>
															<td role="presentation" column="3" active_id="1603933307149">
																<div role="columnheader" class="smdui_hcell smdui_ss_filter">
																	<select>

																		<option value="50">50</option>
																		<option value="54">54</option>
																		<option value="6">6</option>
																		<option value="6.6">6.6</option>
																		<option value="60">60</option>
																		<option value="66">66</option>
																		<option value="7.2">7.2</option>
																		<option value="7.9">7.9</option>
																		<option value="72">72</option>
																		<option value="79">79</option>
																		<option value="8.7">8.7</option>
																		<option value="9.6">9.6</option>
																		<option value="－">－</option>
																	</select>
																</div>
															</td>
															<td role="presentation" column="4" active_id="1603933307150">
																<div role="columnheader" class="smdui_hcell smdui_ss_filter">
																	<select>

																		<option value="19">19</option>
																		<option value="2">2</option>
																		<option value="2.1">2.1</option>
																		<option value="2.2">2.2</option>
																		<option value="2.3">2.3</option>
																		<option value="2.5">2.5</option>
																		<option value="2.7">2.7</option>
																		<option value="2.8">2.8</option>
																		<option value="2.9">2.9</option>
																		<option value="20">20</option>
																		<option value="20.8">20.8</option>
																		<option value="21">21</option>
																		<option value="23">23</option>
																		<option value="23.4">23.4</option>
																		<option value="25">25</option>
																		<option value="28">28</option>
																		<option value="28.8">28.8</option>
																		<option value="3">3</option>
																		<option value="3.1">3.1</option>
																		<option value="3.2">3.2</option>
																		<option value="3.3">3.3</option>
																		<option value="3.4">3.4</option>
																		<option value="3.7">3.7</option>
																		<option value="3.8">3.8</option>
																		<option value="31">31</option>
																		<option value="31.2">31.2</option>
																		<option value="34">34</option>
																		<option value="34.1">34.1</option>
																		<option value="37">37</option>
																		<option value="37.5">37.5</option>
																		<option value="4">4</option>
																		<option value="4.1">4.1</option>
																		<option value="4.2">4.2</option>

																		<option value="7.8">7.8</option>
																		<option value="73.5">73.5</option>
																		<option value="76">76</option>
																		<option value="79.8">79.8</option>
																		<option value="8">8</option>
																		<option value="8.5">8.5</option>
																		<option value="8.7">8.7</option>
																		<option value="87.2">87.2</option>
																		<option value="9">9</option>
																		<option value="9.5">9.5</option>
																		<option value="9.6">9.6</option>
																		<option value="96.1">96.1</option>
																	</select>
																</div>
															</td>
															<td role="presentation" column="5" active_id="1603933307151">
																<div role="columnheader" class="smdui_hcell smdui_ss_filter">
																	<select>

																		<option value="86">86</option>
																		<option value="9">9</option>
																		<option value="90">90</option>
																		<option value="900">900</option>
																		<option value="93">93</option>
																		<option value="95">95</option>
																	</select>
																</div>
															</td>
															<td role="presentation" column="6" active_id="1603933307152">
																<div role="columnheader" class="smdui_hcell smdui_ss_filter">
																	<select>

																		<option value="700">700</option>
																		<option value="7000">7000</option>
																		<option value="750">750</option>
																		<option value="80">80</option>
																		<option value="800">800</option>
																		<option value="8000">8000</option>
																		<option value="850">850</option>
																		<option value="90">90</option>
																		<option value="900">900</option>
																		<option value="950">950</option>
																	</select>
																</div>
															</td>
															<td role="presentation" column="7" active_id="1603933307153">
																<div role="columnheader" class="smdui_hcell smdui_ss_filter">
																	<select>
																		<option value=""></option>
																		<option value="-">-</option>
																		<option value="0.25">0.25</option>
																		<option value="0.3">0.3</option>
																		<option value="0.5">0.5</option>
																		<option value="1">1</option>
																	</select>
																</div>
															</td>
															<td role="presentation" column="8" active_id="1603933307154">
																<div role="columnheader" class="smdui_hcell smdui_ss_filter">
																	<select>

																		<option value="﹢0.045">﹢0.045</option>
																		<option value="﹢0.050">﹢0.050</option>
																		<option value="﹢0.058">﹢0.058</option>
																		<option value="﹢0.062">﹢0.062</option>
																		<option value="﹢0.065">﹢0.065</option>
																		<option value="﹢0.068">﹢0.068</option>
																		<option value="﹢0.075">﹢0.075</option>
																		<option value="﹢0.076">﹢0.076</option>
																		<option value="﹢0.077">﹢0.077</option>
																		<option value="﹢0.079">﹢0.079</option>
																		<option value="﹢0.082">﹢0.082</option>
																		<option value="﹢0.083">﹢0.083</option>
																		<option value="﹢0.084">﹢0.084</option>
																		<option value="﹢0.085">﹢0.085</option>
																		<option value="﹢0.086">﹢0.086</option>
																		<option value="﹢0.087">﹢0.087</option>
																		<option value="﹢0.089">﹢0.089</option>
																		<option value="﹢0.090">﹢0.090</option>
																		<option value="﹢0.091">﹢0.091</option>
																		<option value="﹢0.092">﹢0.092</option>
																		<option value="﹢0.093">﹢0.093</option>
																		<option value="﹢0.094">﹢0.094</option>
																		<option value="﹢0.095">﹢0.095</option>
																		<option value="﹢0.096">﹢0.096</option>
																		<option value="﹢0.097">﹢0.097</option>
																		<option value="﹢0.098">﹢0.098</option>
																		<option value="﹢0.099">﹢0.099</option>
																		<option value="﹢0.11">﹢0.11</option>
																		<option value="－">－</option>
																	</select>
																</div>
															</td>

														</tr>
													</tbody>
												</table>
											</div>
											<div class="smdui_hs_right" style="width: 0px;"></div>
										</div>
										<div class="smdui_ss_body">
											<div class="smdui_ss_left" style="width: 0px; height: 672px;">
												<div class="smdui_ss_center_scroll" style="height: 672px;"></div>
											</div>
											<div class="smdui_ss_center" style="width: 929px; height: 672px;">
												<div class="smdui_ss_center_scroll" role="rowgroup" style="width: 100%; height: 672px;">
													<div column="1" class="smdui_column " style="width: 70px; left: 120px; top: 0px;">
														<div role="gridcell" aria-rowindex="1" aria-colindex="2" class="smdui_cell" tabindex="0">2.28</div>
														<div role="gridcell" aria-rowindex="2" aria-colindex="2" class="smdui_cell">2.5</div>
														<div role="gridcell" aria-rowindex="3" aria-colindex="2" class="smdui_cell">2.8</div>
														<div role="gridcell" aria-rowindex="4" aria-colindex="2" class="smdui_cell">3.1</div>
														<div role="gridcell" aria-rowindex="5" aria-colindex="2" class="smdui_cell">3.4</div>
														<div role="gridcell" aria-rowindex="6" aria-colindex="2" class="smdui_cell">3.7</div>
														<div role="gridcell" aria-rowindex="7" aria-colindex="2" class="smdui_cell">4</div>
														<div role="gridcell" aria-rowindex="8" aria-colindex="2" class="smdui_cell">4.4</div>
														<div role="gridcell" aria-rowindex="9" aria-colindex="2" class="smdui_cell">4.8</div>
														<div role="gridcell" aria-rowindex="10" aria-colindex="2" class="smdui_cell">5.2</div>
														<div role="gridcell" aria-rowindex="11" aria-colindex="2" class="smdui_cell">5.8</div>
														<div role="gridcell" aria-rowindex="12" aria-colindex="2" class="smdui_cell">6.4</div>
														<div role="gridcell" aria-rowindex="13" aria-colindex="2" class="smdui_cell">7</div>
														<div role="gridcell" aria-rowindex="14" aria-colindex="2" class="smdui_cell">7.7</div>
														<div role="gridcell" aria-rowindex="15" aria-colindex="2" class="smdui_cell">8.5</div>
														<div role="gridcell" aria-rowindex="16" aria-colindex="2" class="smdui_cell">9.4</div>
														<div role="gridcell" aria-rowindex="17" aria-colindex="2" class="smdui_cell">10.4</div>
														<div role="gridcell" aria-rowindex="18" aria-colindex="2" class="smdui_cell">11.4</div>
														<div role="gridcell" aria-rowindex="19" aria-colindex="2" class="smdui_cell">12.4</div>
														<div role="gridcell" aria-rowindex="20" aria-colindex="2" class="smdui_cell">13.8</div>
													</div>
													<div column="2" class="smdui_column " style="width: 70px; left: 190px; top: 0px;">
														<div role="gridcell" aria-rowindex="1" aria-colindex="3" class="smdui_cell">－</div>
														<div role="gridcell" aria-rowindex="2" aria-colindex="3" class="smdui_cell">－</div>
														<div role="gridcell" aria-rowindex="3" aria-colindex="3" class="smdui_cell">－</div>
														<div role="gridcell" aria-rowindex="4" aria-colindex="3" class="smdui_cell">－</div>
														<div role="gridcell" aria-rowindex="5" aria-colindex="3" class="smdui_cell">－</div>
														<div role="gridcell" aria-rowindex="6" aria-colindex="3" class="smdui_cell">－</div>
														<div role="gridcell" aria-rowindex="7" aria-colindex="3" class="smdui_cell">－</div>
														<div role="gridcell" aria-rowindex="8" aria-colindex="3" class="smdui_cell">－</div>
														<div role="gridcell" aria-rowindex="9" aria-colindex="3" class="smdui_cell">－</div>
														<div role="gridcell" aria-rowindex="10" aria-colindex="3" class="smdui_cell">－</div>
														<div role="gridcell" aria-rowindex="11" aria-colindex="3" class="smdui_cell">－</div>
														<div role="gridcell" aria-rowindex="12" aria-colindex="3" class="smdui_cell">－</div>
														<div role="gridcell" aria-rowindex="13" aria-colindex="3" class="smdui_cell">－</div>
														<div role="gridcell" aria-rowindex="14" aria-colindex="3" class="smdui_cell">－</div>
														<div role="gridcell" aria-rowindex="15" aria-colindex="3" class="smdui_cell">－</div>
														<div role="gridcell" aria-rowindex="16" aria-colindex="3" class="smdui_cell">－</div>
														<div role="gridcell" aria-rowindex="17" aria-colindex="3" class="smdui_cell">－</div>
														<div role="gridcell" aria-rowindex="18" aria-colindex="3" class="smdui_cell">－</div>
														<div role="gridcell" aria-rowindex="19" aria-colindex="3" class="smdui_cell">－</div>
														<div role="gridcell" aria-rowindex="20" aria-colindex="3" class="smdui_cell">－</div>
													</div>
													<div column="3" class="smdui_column " style="width: 70px; left: 260px; top: 0px;">
														<div role="gridcell" aria-rowindex="1" aria-colindex="4" class="smdui_cell">2.56</div>
														<div role="gridcell" aria-rowindex="2" aria-colindex="4" class="smdui_cell">2.9</div>
														<div role="gridcell" aria-rowindex="3" aria-colindex="4" class="smdui_cell">3.2</div>
														<div role="gridcell" aria-rowindex="4" aria-colindex="4" class="smdui_cell">3.5</div>
														<div role="gridcell" aria-rowindex="5" aria-colindex="4" class="smdui_cell">3.8</div>
														<div role="gridcell" aria-rowindex="6" aria-colindex="4" class="smdui_cell">4.1</div>
														<div role="gridcell" aria-rowindex="7" aria-colindex="4" class="smdui_cell">4.6</div>
														<div role="gridcell" aria-rowindex="8" aria-colindex="4" class="smdui_cell">5</div>
														<div role="gridcell" aria-rowindex="9" aria-colindex="4" class="smdui_cell">5.4</div>
														<div role="gridcell" aria-rowindex="10" aria-colindex="4" class="smdui_cell">6</div>
														<div role="gridcell" aria-rowindex="11" aria-colindex="4" class="smdui_cell">6.6</div>
														<div role="gridcell" aria-rowindex="12" aria-colindex="4" class="smdui_cell">7.2</div>
														<div role="gridcell" aria-rowindex="13" aria-colindex="4" class="smdui_cell">7.9</div>
														<div role="gridcell" aria-rowindex="14" aria-colindex="4" class="smdui_cell">8.7</div>
														<div role="gridcell" aria-rowindex="15" aria-colindex="4" class="smdui_cell">9.6</div>
														<div role="gridcell" aria-rowindex="16" aria-colindex="4" class="smdui_cell">10.6</div>
														<div role="gridcell" aria-rowindex="17" aria-colindex="4" class="smdui_cell">11.6</div>
														<div role="gridcell" aria-rowindex="18" aria-colindex="4" class="smdui_cell">12.7</div>
														<div role="gridcell" aria-rowindex="19" aria-colindex="4" class="smdui_cell">14.1</div>
														<div role="gridcell" aria-rowindex="20" aria-colindex="4" class="smdui_cell">15.6</div>
													</div>
													<div column="4" class="smdui_column " style="width: 70px; left: 330px; top: 0px;">
														<div role="gridcell" aria-rowindex="1" aria-colindex="5" class="smdui_cell">5</div>
														<div role="gridcell" aria-rowindex="2" aria-colindex="5" class="smdui_cell">5</div>
														<div role="gridcell" aria-rowindex="3" aria-colindex="5" class="smdui_cell">5</div>
														<div role="gridcell" aria-rowindex="4" aria-colindex="5" class="smdui_cell">5</div>
														<div role="gridcell" aria-rowindex="5" aria-colindex="5" class="smdui_cell">5</div>
														<div role="gridcell" aria-rowindex="6" aria-colindex="5" class="smdui_cell">5</div>
														<div role="gridcell" aria-rowindex="7" aria-colindex="5" class="smdui_cell">5</div>
														<div role="gridcell" aria-rowindex="8" aria-colindex="5" class="smdui_cell">5</div>
														<div role="gridcell" aria-rowindex="9" aria-colindex="5" class="smdui_cell">5</div>
														<div role="gridcell" aria-rowindex="10" aria-colindex="5" class="smdui_cell">5</div>
														<div role="gridcell" aria-rowindex="11" aria-colindex="5" class="smdui_cell">5</div>
														<div role="gridcell" aria-rowindex="12" aria-colindex="5" class="smdui_cell">5</div>
														<div role="gridcell" aria-rowindex="13" aria-colindex="5" class="smdui_cell">5</div>
														<div role="gridcell" aria-rowindex="14" aria-colindex="5" class="smdui_cell">5</div>
														<div role="gridcell" aria-rowindex="15" aria-colindex="5" class="smdui_cell">5</div>
														<div role="gridcell" aria-rowindex="16" aria-colindex="5" class="smdui_cell">5</div>
														<div role="gridcell" aria-rowindex="17" aria-colindex="5" class="smdui_cell">5</div>
														<div role="gridcell" aria-rowindex="18" aria-colindex="5" class="smdui_cell">5</div>
														<div role="gridcell" aria-rowindex="19" aria-colindex="5" class="smdui_cell">5</div>
														<div role="gridcell" aria-rowindex="20" aria-colindex="5" class="smdui_cell">5</div>
													</div>
													<div column="5" class="smdui_column " style="width: 80px; left: 400px; top: 0px;">
														<div role="gridcell" aria-rowindex="1" aria-colindex="6" class="smdui_cell">85</div>
														<div role="gridcell" aria-rowindex="2" aria-colindex="6" class="smdui_cell">85</div>
														<div role="gridcell" aria-rowindex="3" aria-colindex="6" class="smdui_cell">85</div>
														<div role="gridcell" aria-rowindex="4" aria-colindex="6" class="smdui_cell">85</div>
														<div role="gridcell" aria-rowindex="5" aria-colindex="6" class="smdui_cell">85</div>
														<div role="gridcell" aria-rowindex="6" aria-colindex="6" class="smdui_cell">85</div>
														<div role="gridcell" aria-rowindex="7" aria-colindex="6" class="smdui_cell">75</div>
														<div role="gridcell" aria-rowindex="8" aria-colindex="6" class="smdui_cell">60</div>
														<div role="gridcell" aria-rowindex="9" aria-colindex="6" class="smdui_cell">35</div>
														<div role="gridcell" aria-rowindex="10" aria-colindex="6" class="smdui_cell">25</div>
														<div role="gridcell" aria-rowindex="11" aria-colindex="6" class="smdui_cell">10</div>
														<div role="gridcell" aria-rowindex="12" aria-colindex="6" class="smdui_cell">8</div>
														<div role="gridcell" aria-rowindex="13" aria-colindex="6" class="smdui_cell">7</div>
														<div role="gridcell" aria-rowindex="14" aria-colindex="6" class="smdui_cell">7</div>
														<div role="gridcell" aria-rowindex="15" aria-colindex="6" class="smdui_cell">10</div>
														<div role="gridcell" aria-rowindex="16" aria-colindex="6" class="smdui_cell">15</div>
														<div role="gridcell" aria-rowindex="17" aria-colindex="6" class="smdui_cell">20</div>
														<div role="gridcell" aria-rowindex="18" aria-colindex="6" class="smdui_cell">20</div>
														<div role="gridcell" aria-rowindex="19" aria-colindex="6" class="smdui_cell">26</div>
														<div role="gridcell" aria-rowindex="20" aria-colindex="6" class="smdui_cell">30</div>
													</div>
													<div column="6" class="smdui_column " style="width: 80px; left: 480px; top: 0px;">
														<div role="gridcell" aria-rowindex="1" aria-colindex="7" class="smdui_cell">600</div>
														<div role="gridcell" aria-rowindex="2" aria-colindex="7" class="smdui_cell">600</div>
														<div role="gridcell" aria-rowindex="3" aria-colindex="7" class="smdui_cell">600</div>
														<div role="gridcell" aria-rowindex="4" aria-colindex="7" class="smdui_cell">600</div>
														<div role="gridcell" aria-rowindex="5" aria-colindex="7" class="smdui_cell">600</div>
														<div role="gridcell" aria-rowindex="6" aria-colindex="7" class="smdui_cell">600</div>
														<div role="gridcell" aria-rowindex="7" aria-colindex="7" class="smdui_cell">600</div>
														<div role="gridcell" aria-rowindex="8" aria-colindex="7" class="smdui_cell">600</div>
														<div role="gridcell" aria-rowindex="9" aria-colindex="7" class="smdui_cell">550</div>
														<div role="gridcell" aria-rowindex="10" aria-colindex="7" class="smdui_cell">450</div>
														<div role="gridcell" aria-rowindex="11" aria-colindex="7" class="smdui_cell">200</div>
														<div role="gridcell" aria-rowindex="12" aria-colindex="7" class="smdui_cell">150</div>
														<div role="gridcell" aria-rowindex="13" aria-colindex="7" class="smdui_cell">50</div>
														<div role="gridcell" aria-rowindex="14" aria-colindex="7" class="smdui_cell">50</div>
														<div role="gridcell" aria-rowindex="15" aria-colindex="7" class="smdui_cell">50</div>
														<div role="gridcell" aria-rowindex="16" aria-colindex="7" class="smdui_cell">70</div>
														<div role="gridcell" aria-rowindex="17" aria-colindex="7" class="smdui_cell">70</div>
														<div role="gridcell" aria-rowindex="18" aria-colindex="7" class="smdui_cell">90</div>
														<div role="gridcell" aria-rowindex="19" aria-colindex="7" class="smdui_cell">110</div>
														<div role="gridcell" aria-rowindex="20" aria-colindex="7" class="smdui_cell">110</div>
													</div>
													<div column="7" class="smdui_column " style="width: 70px; left: 560px; top: 0px;">
														<div role="gridcell" aria-rowindex="1" aria-colindex="8" class="smdui_cell">1</div>
														<div role="gridcell" aria-rowindex="2" aria-colindex="8" class="smdui_cell">1</div>
														<div role="gridcell" aria-rowindex="3" aria-colindex="8" class="smdui_cell">1</div>
														<div role="gridcell" aria-rowindex="4" aria-colindex="8" class="smdui_cell">1</div>
														<div role="gridcell" aria-rowindex="5" aria-colindex="8" class="smdui_cell">1</div>
														<div role="gridcell" aria-rowindex="6" aria-colindex="8" class="smdui_cell">1</div>
														<div role="gridcell" aria-rowindex="7" aria-colindex="8" class="smdui_cell">1</div>
														<div role="gridcell" aria-rowindex="8" aria-colindex="8" class="smdui_cell">1</div>
														<div role="gridcell" aria-rowindex="9" aria-colindex="8" class="smdui_cell">1</div>
														<div role="gridcell" aria-rowindex="10" aria-colindex="8" class="smdui_cell">1</div>
														<div role="gridcell" aria-rowindex="11" aria-colindex="8" class="smdui_cell">1</div>
														<div role="gridcell" aria-rowindex="12" aria-colindex="8" class="smdui_cell">1</div>
														<div role="gridcell" aria-rowindex="13" aria-colindex="8" class="smdui_cell">1</div>
														<div role="gridcell" aria-rowindex="14" aria-colindex="8" class="smdui_cell">1</div>
														<div role="gridcell" aria-rowindex="15" aria-colindex="8" class="smdui_cell">1</div>
														<div role="gridcell" aria-rowindex="16" aria-colindex="8" class="smdui_cell">1</div>
														<div role="gridcell" aria-rowindex="17" aria-colindex="8" class="smdui_cell">1</div>
														<div role="gridcell" aria-rowindex="18" aria-colindex="8" class="smdui_cell">1</div>
														<div role="gridcell" aria-rowindex="19" aria-colindex="8" class="smdui_cell">1</div>
														<div role="gridcell" aria-rowindex="20" aria-colindex="8" class="smdui_cell">1</div>
													</div>
													<div column="8" class="smdui_column " style="width: 70px; left: 630px; top: 0px;">
														<div role="gridcell" aria-rowindex="1" aria-colindex="9" class="smdui_cell">-0.07</div>
														<div role="gridcell" aria-rowindex="2" aria-colindex="9" class="smdui_cell">-0.07</div>
														<div role="gridcell" aria-rowindex="3" aria-colindex="9" class="smdui_cell">-0.07</div>
														<div role="gridcell" aria-rowindex="4" aria-colindex="9" class="smdui_cell">-0.065</div>
														<div role="gridcell" aria-rowindex="5" aria-colindex="9" class="smdui_cell">-0.06</div>
														<div role="gridcell" aria-rowindex="6" aria-colindex="9" class="smdui_cell">-0.05</div>
														<div role="gridcell" aria-rowindex="7" aria-colindex="9" class="smdui_cell">-0.025</div>
														<div role="gridcell" aria-rowindex="8" aria-colindex="9" class="smdui_cell">-0.01</div>
														<div role="gridcell" aria-rowindex="9" aria-colindex="9" class="smdui_cell">0.015</div>
														<div role="gridcell" aria-rowindex="10" aria-colindex="9" class="smdui_cell">0.025</div>
														<div role="gridcell" aria-rowindex="11" aria-colindex="9" class="smdui_cell">0.035</div>
														<div role="gridcell" aria-rowindex="12" aria-colindex="9" class="smdui_cell">0.045</div>
														<div role="gridcell" aria-rowindex="13" aria-colindex="9" class="smdui_cell">0.05</div>
														<div role="gridcell" aria-rowindex="14" aria-colindex="9" class="smdui_cell">0.05</div>
														<div role="gridcell" aria-rowindex="15" aria-colindex="9" class="smdui_cell">0.06</div>
														<div role="gridcell" aria-rowindex="16" aria-colindex="9" class="smdui_cell">0.07</div>
														<div role="gridcell" aria-rowindex="17" aria-colindex="9" class="smdui_cell">0.07</div>
														<div role="gridcell" aria-rowindex="18" aria-colindex="9" class="smdui_cell">0.07</div>
														<div role="gridcell" aria-rowindex="19" aria-colindex="9" class="smdui_cell">0.07</div>
														<div role="gridcell" aria-rowindex="20" aria-colindex="9" class="smdui_cell">0.07</div>
													</div>
													<div column="9" class="smdui_column " style="width: 70px; left: 700px; top: 0px;">
														<div role="gridcell" aria-rowindex="1" aria-colindex="10" class="smdui_cell">50</div>
														<div role="gridcell" aria-rowindex="2" aria-colindex="10" class="smdui_cell">10</div>
														<div role="gridcell" aria-rowindex="3" aria-colindex="10" class="smdui_cell">4</div>
														<div role="gridcell" aria-rowindex="4" aria-colindex="10" class="smdui_cell">2</div>
														<div role="gridcell" aria-rowindex="5" aria-colindex="10" class="smdui_cell">2</div>
														<div role="gridcell" aria-rowindex="6" aria-colindex="10" class="smdui_cell">2</div>
														<div role="gridcell" aria-rowindex="7" aria-colindex="10" class="smdui_cell">1</div>
														<div role="gridcell" aria-rowindex="8" aria-colindex="10" class="smdui_cell">0.5</div>
														<div role="gridcell" aria-rowindex="9" aria-colindex="10" class="smdui_cell">0.1</div>
														<div role="gridcell" aria-rowindex="10" aria-colindex="10" class="smdui_cell">0.1</div>
														<div role="gridcell" aria-rowindex="11" aria-colindex="10" class="smdui_cell">0.1</div>
														<div role="gridcell" aria-rowindex="12" aria-colindex="10" class="smdui_cell">0.1</div>
														<div role="gridcell" aria-rowindex="13" aria-colindex="10" class="smdui_cell">0.1</div>
														<div role="gridcell" aria-rowindex="14" aria-colindex="10" class="smdui_cell">0.1</div>
														<div role="gridcell" aria-rowindex="15" aria-colindex="10" class="smdui_cell">0.1</div>
														<div role="gridcell" aria-rowindex="16" aria-colindex="10" class="smdui_cell">0.1</div>
														<div role="gridcell" aria-rowindex="17" aria-colindex="10" class="smdui_cell">0.1</div>
														<div role="gridcell" aria-rowindex="18" aria-colindex="10" class="smdui_cell">0.1</div>
														<div role="gridcell" aria-rowindex="19" aria-colindex="10" class="smdui_cell">0.1</div>
														<div role="gridcell" aria-rowindex="20" aria-colindex="10" class="smdui_cell">0.1</div>
													</div>
													<div column="10" class="smdui_column " style="width: 70px; left: 770px; top: 0px;">
														<div role="gridcell" aria-rowindex="1" aria-colindex="11" class="smdui_cell">1</div>
														<div role="gridcell" aria-rowindex="2" aria-colindex="11" class="smdui_cell">1</div>
														<div role="gridcell" aria-rowindex="3" aria-colindex="11" class="smdui_cell">1</div>
														<div role="gridcell" aria-rowindex="4" aria-colindex="11" class="smdui_cell">1</div>
														<div role="gridcell" aria-rowindex="5" aria-colindex="11" class="smdui_cell">1</div>
														<div role="gridcell" aria-rowindex="6" aria-colindex="11" class="smdui_cell">1</div>
														<div role="gridcell" aria-rowindex="7" aria-colindex="11" class="smdui_cell">1</div>
														<div role="gridcell" aria-rowindex="8" aria-colindex="11" class="smdui_cell">1</div>
														<div role="gridcell" aria-rowindex="9" aria-colindex="11" class="smdui_cell">1</div>
														<div role="gridcell" aria-rowindex="10" aria-colindex="11" class="smdui_cell">1</div>
														<div role="gridcell" aria-rowindex="11" aria-colindex="11" class="smdui_cell">2</div>
														<div role="gridcell" aria-rowindex="12" aria-colindex="11" class="smdui_cell">3</div>
														<div role="gridcell" aria-rowindex="13" aria-colindex="11" class="smdui_cell">5</div>
														<div role="gridcell" aria-rowindex="14" aria-colindex="11" class="smdui_cell">6</div>
														<div role="gridcell" aria-rowindex="15" aria-colindex="11" class="smdui_cell">7</div>
														<div role="gridcell" aria-rowindex="16" aria-colindex="11" class="smdui_cell">7.5</div>
														<div role="gridcell" aria-rowindex="17" aria-colindex="11" class="smdui_cell">8.5</div>
														<div role="gridcell" aria-rowindex="18" aria-colindex="11" class="smdui_cell">9</div>
														<div role="gridcell" aria-rowindex="19" aria-colindex="11" class="smdui_cell">10</div>
														<div role="gridcell" aria-rowindex="20" aria-colindex="11" class="smdui_cell">11</div>
													</div>
													<div column="11" class="smdui_column " style="width: 70px; left: 840px; top: 0px;">
														<div role="gridcell" aria-rowindex="1" aria-colindex="12" class="smdui_cell">150</div>
														<div role="gridcell" aria-rowindex="2" aria-colindex="12" class="smdui_cell">135</div>
														<div role="gridcell" aria-rowindex="3" aria-colindex="12" class="smdui_cell">125</div>
														<div role="gridcell" aria-rowindex="4" aria-colindex="12" class="smdui_cell">115</div>
														<div role="gridcell" aria-rowindex="5" aria-colindex="12" class="smdui_cell">105</div>
														<div role="gridcell" aria-rowindex="6" aria-colindex="12" class="smdui_cell">95</div>
														<div role="gridcell" aria-rowindex="7" aria-colindex="12" class="smdui_cell">90</div>
														<div role="gridcell" aria-rowindex="8" aria-colindex="12" class="smdui_cell">85</div>
														<div role="gridcell" aria-rowindex="9" aria-colindex="12" class="smdui_cell">80</div>
														<div role="gridcell" aria-rowindex="10" aria-colindex="12" class="smdui_cell">70</div>
														<div role="gridcell" aria-rowindex="11" aria-colindex="12" class="smdui_cell">64</div>
														<div role="gridcell" aria-rowindex="12" aria-colindex="12" class="smdui_cell">58</div>
														<div role="gridcell" aria-rowindex="13" aria-colindex="12" class="smdui_cell">53</div>
														<div role="gridcell" aria-rowindex="14" aria-colindex="12" class="smdui_cell">47</div>
														<div role="gridcell" aria-rowindex="15" aria-colindex="12" class="smdui_cell">43</div>
														<div role="gridcell" aria-rowindex="16" aria-colindex="12" class="smdui_cell">40</div>
														<div role="gridcell" aria-rowindex="17" aria-colindex="12" class="smdui_cell">36</div>
														<div role="gridcell" aria-rowindex="18" aria-colindex="12" class="smdui_cell">32</div>
														<div role="gridcell" aria-rowindex="19" aria-colindex="12" class="smdui_cell">29</div>
														<div role="gridcell" aria-rowindex="20" aria-colindex="12" class="smdui_cell">27</div>
													</div>
													<div column="12" class="smdui_column " style="width: 70px; left: 910px; top: 0px;">
														<div role="gridcell" aria-rowindex="1" aria-colindex="13" class="smdui_cell">500</div>
														<div role="gridcell" aria-rowindex="2" aria-colindex="13" class="smdui_cell">500</div>
														<div role="gridcell" aria-rowindex="3" aria-colindex="13" class="smdui_cell">500</div>
														<div role="gridcell" aria-rowindex="4" aria-colindex="13" class="smdui_cell">500</div>
														<div role="gridcell" aria-rowindex="5" aria-colindex="13" class="smdui_cell">500</div>
														<div role="gridcell" aria-rowindex="6" aria-colindex="13" class="smdui_cell">500</div>
														<div role="gridcell" aria-rowindex="7" aria-colindex="13" class="smdui_cell">500</div>
														<div role="gridcell" aria-rowindex="8" aria-colindex="13" class="smdui_cell">500</div>
														<div role="gridcell" aria-rowindex="9" aria-colindex="13" class="smdui_cell">500</div>
														<div role="gridcell" aria-rowindex="10" aria-colindex="13" class="smdui_cell">500</div>
														<div role="gridcell" aria-rowindex="11" aria-colindex="13" class="smdui_cell">500</div>
														<div role="gridcell" aria-rowindex="12" aria-colindex="13" class="smdui_cell">500</div>
														<div role="gridcell" aria-rowindex="13" aria-colindex="13" class="smdui_cell">500</div>
														<div role="gridcell" aria-rowindex="14" aria-colindex="13" class="smdui_cell">500</div>
														<div role="gridcell" aria-rowindex="15" aria-colindex="13" class="smdui_cell">500</div>
														<div role="gridcell" aria-rowindex="16" aria-colindex="13" class="smdui_cell">500</div>
														<div role="gridcell" aria-rowindex="17" aria-colindex="13" class="smdui_cell">500</div>
														<div role="gridcell" aria-rowindex="18" aria-colindex="13" class="smdui_cell">500</div>
														<div role="gridcell" aria-rowindex="19" aria-colindex="13" class="smdui_cell">500</div>
														<div role="gridcell" aria-rowindex="20" aria-colindex="13" class="smdui_cell">500</div>
													</div>
													<div column="0" class="smdui_column  smdui_first" style="width: 120px; left: 0px; top: 0px;">
														<div role="gridcell" aria-rowindex="1" aria-colindex="1" class="smdui_cell" tabindex="0"><a href="http://www.h-diode.com/upload/2018%E6%96%B0%E7%89%88%E8%A7%84%E6%A0%BC%E4%B9%A6/%E7%A8%B3%E5%8E%8B%E4%BA%8C%E6%9E%81%E7%AE%A1/ZMM55%20SERIES.pdf" style="text-decoration:underline" target="_bank">ZMM55C2V4</a></div>
														<div role="gridcell" aria-rowindex="2" aria-colindex="1" class="smdui_cell"><a href="http://www.h-diode.com/upload/2018%E6%96%B0%E7%89%88%E8%A7%84%E6%A0%BC%E4%B9%A6/%E7%A8%B3%E5%8E%8B%E4%BA%8C%E6%9E%81%E7%AE%A1/ZMM55%20SERIES.pdf" style="text-decoration:underline" target="_bank">ZMM55C2V7</a></div>
														<div role="gridcell" aria-rowindex="3" aria-colindex="1" class="smdui_cell"><a href="http://www.h-diode.com/upload/2018%E6%96%B0%E7%89%88%E8%A7%84%E6%A0%BC%E4%B9%A6/%E7%A8%B3%E5%8E%8B%E4%BA%8C%E6%9E%81%E7%AE%A1/ZMM55%20SERIES.pdf" style="text-decoration:underline" target="_bank">ZMM55C3V0</a></div>
														<div role="gridcell" aria-rowindex="4" aria-colindex="1" class="smdui_cell"><a href="http://www.h-diode.com/upload/2018%E6%96%B0%E7%89%88%E8%A7%84%E6%A0%BC%E4%B9%A6/%E7%A8%B3%E5%8E%8B%E4%BA%8C%E6%9E%81%E7%AE%A1/ZMM55%20SERIES.pdf" style="text-decoration:underline" target="_bank">ZMM55C3V3</a></div>
														<div role="gridcell" aria-rowindex="5" aria-colindex="1" class="smdui_cell"><a href="http://www.h-diode.com/upload/2018%E6%96%B0%E7%89%88%E8%A7%84%E6%A0%BC%E4%B9%A6/%E7%A8%B3%E5%8E%8B%E4%BA%8C%E6%9E%81%E7%AE%A1/ZMM55%20SERIES.pdf" style="text-decoration:underline" target="_bank">ZMM55C3V6</a></div>
														<div role="gridcell" aria-rowindex="6" aria-colindex="1" class="smdui_cell"><a href="http://www.h-diode.com/upload/2018%E6%96%B0%E7%89%88%E8%A7%84%E6%A0%BC%E4%B9%A6/%E7%A8%B3%E5%8E%8B%E4%BA%8C%E6%9E%81%E7%AE%A1/ZMM55%20SERIES.pdf" style="text-decoration:underline" target="_bank">ZMM55C3V9</a></div>
														<div role="gridcell" aria-rowindex="7" aria-colindex="1" class="smdui_cell"><a href="http://www.h-diode.com/upload/2018%E6%96%B0%E7%89%88%E8%A7%84%E6%A0%BC%E4%B9%A6/%E7%A8%B3%E5%8E%8B%E4%BA%8C%E6%9E%81%E7%AE%A1/ZMM55%20SERIES.pdf" style="text-decoration:underline" target="_bank">ZMM55C4V3</a></div>
														<div role="gridcell" aria-rowindex="8" aria-colindex="1" class="smdui_cell"><a href="http://www.h-diode.com/upload/2018%E6%96%B0%E7%89%88%E8%A7%84%E6%A0%BC%E4%B9%A6/%E7%A8%B3%E5%8E%8B%E4%BA%8C%E6%9E%81%E7%AE%A1/ZMM55%20SERIES.pdf" style="text-decoration:underline" target="_bank">ZMM55C4V7</a></div>
														<div role="gridcell" aria-rowindex="9" aria-colindex="1" class="smdui_cell"><a href="http://www.h-diode.com/upload/2018%E6%96%B0%E7%89%88%E8%A7%84%E6%A0%BC%E4%B9%A6/%E7%A8%B3%E5%8E%8B%E4%BA%8C%E6%9E%81%E7%AE%A1/ZMM55%20SERIES.pdf" style="text-decoration:underline" target="_bank">ZMM55C5V1</a></div>
														<div role="gridcell" aria-rowindex="10" aria-colindex="1" class="smdui_cell"><a href="http://www.h-diode.com/upload/2018%E6%96%B0%E7%89%88%E8%A7%84%E6%A0%BC%E4%B9%A6/%E7%A8%B3%E5%8E%8B%E4%BA%8C%E6%9E%81%E7%AE%A1/ZMM55%20SERIES.pdf" style="text-decoration:underline" target="_bank">ZMM55C5V6</a></div>
														<div role="gridcell" aria-rowindex="11" aria-colindex="1" class="smdui_cell"><a href="http://www.h-diode.com/upload/2018%E6%96%B0%E7%89%88%E8%A7%84%E6%A0%BC%E4%B9%A6/%E7%A8%B3%E5%8E%8B%E4%BA%8C%E6%9E%81%E7%AE%A1/ZMM55%20SERIES.pdf" style="text-decoration:underline" target="_bank">ZMM55C6V2</a></div>
														<div role="gridcell" aria-rowindex="12" aria-colindex="1" class="smdui_cell"><a href="http://www.h-diode.com/upload/2018%E6%96%B0%E7%89%88%E8%A7%84%E6%A0%BC%E4%B9%A6/%E7%A8%B3%E5%8E%8B%E4%BA%8C%E6%9E%81%E7%AE%A1/ZMM55%20SERIES.pdf" style="text-decoration:underline" target="_bank">ZMM55C6V8</a></div>
														<div role="gridcell" aria-rowindex="13" aria-colindex="1" class="smdui_cell"><a href="http://www.h-diode.com/upload/2018%E6%96%B0%E7%89%88%E8%A7%84%E6%A0%BC%E4%B9%A6/%E7%A8%B3%E5%8E%8B%E4%BA%8C%E6%9E%81%E7%AE%A1/ZMM55%20SERIES.pdf" style="text-decoration:underline" target="_bank">ZMM55C7V5</a></div>
														<div role="gridcell" aria-rowindex="14" aria-colindex="1" class="smdui_cell"><a href="http://www.h-diode.com/upload/2018%E6%96%B0%E7%89%88%E8%A7%84%E6%A0%BC%E4%B9%A6/%E7%A8%B3%E5%8E%8B%E4%BA%8C%E6%9E%81%E7%AE%A1/ZMM55%20SERIES.pdf" style="text-decoration:underline" target="_bank">ZMM55C8V2</a></div>
														<div role="gridcell" aria-rowindex="15" aria-colindex="1" class="smdui_cell"><a href="http://www.h-diode.com/upload/2018%E6%96%B0%E7%89%88%E8%A7%84%E6%A0%BC%E4%B9%A6/%E7%A8%B3%E5%8E%8B%E4%BA%8C%E6%9E%81%E7%AE%A1/ZMM55%20SERIES.pdf" style="text-decoration:underline" target="_bank">ZMM55C9V1</a></div>
														<div role="gridcell" aria-rowindex="16" aria-colindex="1" class="smdui_cell"><a href="http://www.h-diode.com/upload/2018%E6%96%B0%E7%89%88%E8%A7%84%E6%A0%BC%E4%B9%A6/%E7%A8%B3%E5%8E%8B%E4%BA%8C%E6%9E%81%E7%AE%A1/ZMM55%20SERIES.pdf" style="text-decoration:underline" target="_bank">ZMM55C10</a></div>
														<div role="gridcell" aria-rowindex="17" aria-colindex="1" class="smdui_cell"><a href="http://www.h-diode.com/upload/2018%E6%96%B0%E7%89%88%E8%A7%84%E6%A0%BC%E4%B9%A6/%E7%A8%B3%E5%8E%8B%E4%BA%8C%E6%9E%81%E7%AE%A1/ZMM55%20SERIES.pdf" style="text-decoration:underline" target="_bank">ZMM55C11</a></div>
														<div role="gridcell" aria-rowindex="18" aria-colindex="1" class="smdui_cell"><a href="http://www.h-diode.com/upload/2018%E6%96%B0%E7%89%88%E8%A7%84%E6%A0%BC%E4%B9%A6/%E7%A8%B3%E5%8E%8B%E4%BA%8C%E6%9E%81%E7%AE%A1/ZMM55%20SERIES.pdf" style="text-decoration:underline" target="_bank">ZMM55C12</a></div>
														<div role="gridcell" aria-rowindex="19" aria-colindex="1" class="smdui_cell"><a href="http://www.h-diode.com/upload/2018%E6%96%B0%E7%89%88%E8%A7%84%E6%A0%BC%E4%B9%A6/%E7%A8%B3%E5%8E%8B%E4%BA%8C%E6%9E%81%E7%AE%A1/ZMM55%20SERIES.pdf" style="text-decoration:underline" target="_bank">ZMM55C13</a></div>
														<div role="gridcell" aria-rowindex="20" aria-colindex="1" class="smdui_cell"><a href="http://www.h-diode.com/upload/2018%E6%96%B0%E7%89%88%E8%A7%84%E6%A0%BC%E4%B9%A6/%E7%A8%B3%E5%8E%8B%E4%BA%8C%E6%9E%81%E7%AE%A1/ZMM55%20SERIES.pdf" style="text-decoration:underline" target="_bank">ZMM55C15</a></div>
													</div>
												</div>
											</div>
											<div class="smdui_ss_right" style="width: 0px; height: 672px;">
												<div class="smdui_ss_center_scroll" style="height: 672px;"></div>
											</div>
										</div>
										<div class="smdui_ss_hscroll smdui_vscroll_x" role="scrollbar" aria-orientation="horizontal" style="display: block; width: 929px; height: 17px;">
											<div class="smdui_vscroll_body" style="width: 100%;"></div>
										</div>
										<div class="smdui_ss_footer">
											<div class="smdui_hs_left" style="width: 0px;"></div>
											<div class="smdui_hs_center" style="width: 929px;"></div>
											<div class="smdui_hs_right" style="width: 0px;"></div>
										</div>
										<div class="smdui_ss_vscroll_header" style="height: 110px; width: 16px;"></div>
										<div class="smdui_ss_vscroll smdui_vscroll_y" role="scrollbar" aria-orientation="vertical" style="display: block; margin-top: 111px; height: 689px; width: 17px;">
											<div class="smdui_vscroll_body" style="height: 577px;"></div>
										</div>
										<div class="smdui_ss_vscroll_footer"></div>
									</div>
								</div>
							</div>
						</div>
						<div id="paging_here_too">
							<div class="smdui_view smdui_pager" view_id="$pager1" style="width: 950px; height: 30px;">
								<button type="button" smdui_p_id="first" class="smdui_pager_item" aria-label="第一页">首页</button>
								<button type="button" smdui_p_id="prev" class="smdui_pager_item" aria-label="上一页">上一页</button>
								<button type="button" smdui_p_id="0" class="smdui_pager_item_selected" aria-label="页 1">1</button>
								<button type="button" smdui_p_id="next" class="smdui_pager_item" aria-label="下一页">下一页</button>
								<button type="button" smdui_p_id="last" class="smdui_pager_item" aria-label="最后一页">尾页</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

  {{ page.footer }}
  {{ page.float }}

		<script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="/js/swiper.min.js"></script>
		<script type="text/javascript" src="/js/TweenMax.min.js"></script>
		<script type="text/javascript" src="/js/jquery.SuperSlide.2.1.1.js"></script>

		<link href="/js/terrace.css" rel="stylesheet">
		<script src="/js/smdui.js"></script>
		<script src="/js/smdui_datatable.js"></script>
		<script src="/js/smdFrameWorkV3.js"></script>
		<script>
			var swiper = new Swiper('.swiper-container1', {
				keyboard: true,
				virtualTranslate: true,
				on: {
					setTranslate: function() {
						this.$wrapperEl.transition('')
						TweenMax.to(this.$wrapperEl, 1.5, {
							x: this.translate,
							ease: Power4.easeOut
						})
					}
				},
				pagination: {
					el: '.swiper-pagination',
					clickable: true,
				},
				navigation: {
					nextEl: '.swiper-button-next',
					prevEl: '.swiper-button-prev',
				},
			});
			/*厂房设备*/
			var swiper = new Swiper('.swiper-container2', {
				slidesPerView: 1,
				spaceBetween: 1,
				// init: false,
				pagination: {
					el: '.swiper-pagination',
					clickable: true,
					bulletClass: 'swiper-dot',
					bulletActiveClass: 'swiper-dot-active',
				},
				breakpoints: {
					'@0.00': {
						slidesPerView: 1,
						spaceBetween: 10,
					},
					'@0.75': {
						slidesPerView: 2,
						spaceBetween: 20,
					},
					'@1.00': {
						slidesPerView: 3,
						spaceBetween: 20,
					},
					'@1.50': {
						slidesPerView: 4,
						spaceBetween: 20,
					},
				},
				navigation: {
					nextEl: '.swiper-button-next',
					prevEl: '.swiper-button-prev',
				},
			});
		</script>

		<script type="text/javascript">
			$(document).ready(function() {
				$(".side ul li").hover(function() {
					$(this).find(".sidebox").stop().animate({
						"width": "200px"
					}, 200).css({})
				}, function() {
					$(this).find(".sidebox").stop().animate({
						"width": "48px"
					}, 200).css({})
				});
			});

			function goTop() {
				$('html,body').animate({
					'scrollTop': 0
				}, 600);
			}
			$(function() {
				$(window).bind("scroll", function() {
					var sTop = $(window).scrollTop();
					var sTop = parseInt(sTop);
					if (sTop >= 130) {
						if (!$("#scrollSearchDiv").is(":visible")) {
							try {
								$("#scrollSearchDiv").slideDown();
							} catch (e) {
								$("#scrollSearchDiv").show();
							}
						}
					} else {
						if ($("#scrollSearchDiv").is(":visible")) {
							try {
								$("#scrollSearchDiv").slideUp();
							} catch (e) {
								$("#scrollSearchDiv").hide();
							}
						}
					}
				});
			})
			 jQuery(".slideTxtBox").slide();

			function pro_cate_event() {
				$(".one_class").click(function() {
					var a = $(this).parent().find(".list").is(":visible");
					$(".one_class").removeClass("curr");
					$(".left3_area dl").hide();
					if (a == true) {
						$(this).parent().find(".list").hide();
						$(this).removeClass("curr");
					} else {
						$(this).parent().find(".list").show();
						$(this).addClass("curr");
					}
				})
			}
			pro_cate_event();
		</script>
		<!--<script type="text/javascript">
			var webui = {
				padding: 0,
				id: "root_view",
				container: "productgrid",
				view: "form",
				smdDataSource: {
					select: {
						autoload: false
					}
				},
				rows: [{
					view: "datatable",
					id: "list_table",
					resizeColumn: true,
					select: "row",
					rowHeight: 28,
					height: 800,
					columns: [],
					pager: {
						container: "paging_here_too",
						size: 20,
						group: 8
					}
				}]
			};
			var _smdform = new $smd.listui(webui);
			$(".smdui_layout_form").css("border-width", "0");

			function pro_ini() {
				var param1 = "160";
				$("#sid_" + param1).find("dl").show();
				$("#sid_" + param1).children("a:first-child").addClass("curr");
			}

			function gridColInit() {
				var cateid = "169";
				cateid = parseInt(cateid);
				//硅塑封整流二极管
				$$("list_table").refreshColumns([{
					id: "kid",
					header: "kid",
					width: 50,
					hidden: true
				}, {
					id: "category_id",
					header: "category_id",
					width: 50,
					hidden: true
				}, {
					id: "ptype",
					header: [{
						"text": "TYPE",
						"rowspan": 3
					}, "", "", {
						content: "selectFilter"
					}],
					width: 100
				}, {
					id: "VRRM",
					header: [{
						"text": "IF<sub>((AV) )</sub>",
						"rowspan": 2
					}, "", {
						"text": "A"
					}, {
						content: "selectFilter"
					}],
					width: 80
				}, {
					id: "IF(AV) ",
					header: [{
						"text": "IF<sub>((AV) )</sub>",
						"rowspan": 2
					}, "", {
						"text": "A"
					}, {
						content: "selectFilter"
					}],
					width: 80
				}, {
					id: "IFSM",
					header: [{
						"text": "I<sub>FSM</sub>",
						"rowspan": 2
					}, "", {
						"text": "A"
					}, {
						content: "selectFilter"
					}],
					width: 80
				}, {
					id: "VF",
					header: [{
						"text": "V<sub>F</sub>",
						"rowspan": 2
					}, "", {
						"text": "V"
					}, {
						content: "selectFilter"
					}],
					width: 80
				}, {
					id: "IR ",
					header: [{
						"text": "I<sub>R</sub>",
						"rowspan": 2
					}, "", {
						"text": "μA"
					}, {
						content: "selectFilter"
					}],
					width: 80
				}, {
					id: "Trr",
					header: [{
						"text": "T<sub>RR</sub>",
						"rowspan": 2
					}, "", {
						"text": "ns"
					}, {
						content: "selectFilter"
					}],
					width: 80
				}, {
					id: "TJ Max.",
					header: [{
						"text": "TJMax.",
						"rowspan": 2
					}, "", {
						"text": "(°C)"
					}, {
						content: "selectFilter"
					}],
					width: 80
				}, {
					id: "CasePackage_Style",
					header: [{
						"text": "Package",
						"rowspan": 3
					}, "", "", {
						content: "selectFilter"
					}],
					width: 90
				}, {
					fillspace: true,
					id: "operate",
					header: "",
					fillspace: true
				}], true);
			}

			function gridColTemplateInit() {
				var grid = $$("list_table");
				var colIndex = grid.getColumnIndex("ptype");
				if (colIndex >= 0) {
					grid.config.columns[colIndex].template = function(obj) {
						if (obj.cpfj == "" || obj.cpfj == null) {
							return "<a>" + obj.ptype + "</a>";
						} else {
							return "<a href='" + obj.cpfj + "' style='text-decoration:underline' target='_bank'>" + obj.ptype + "</a>";
						}
					}
				}
				var colIndex2 = grid.getColumnIndex("Case_Style");
				if (colIndex2 >= 0) {
					grid.config.columns[colIndex2].template = function(obj) {
						if (obj.cpfzpic == "" || obj.cpfzpic == null) {
							return "<a>" + obj.Case_Style + "</a>";
						} else {
							return "<a href='" + obj.cpfzpic + "'style='text-decoration:underline' target='_bank'>" + obj.Case_Style + "</a>";
						}
					}
				}
				var colIndex3 = grid.getColumnIndex("PTypeB");
				if (colIndex3 >= 0) {
					grid.config.columns[colIndex3].template = function(obj) {
						if (obj.cpfj == "" || obj.cpfj == null) {
							return "<a>" + obj.PTypeB + "</a>";
						} else {
							return "<a href='" + obj.cpfj + "' style='text-decoration:underline' target='_bank'>" + obj.PTypeB + "</a>";
						}
					}
				}
				grid.refreshColumns();
			}

			function loadGridData() {
				_smdform.showProgress();
				$$("list_table").clearAll();
				gridColInit();
				gridColTemplateInit();
				setTimeout(function() {
					var cateid = "169";
					cateid = parseInt(cateid);
					$smd.post($smd.handlers.GetListItems, {
						selectid: "dianzi_product_list",
						module: "dianzi",
						cateid: cateid
					}, function(ret) {
						_smdform.hideProgress(); 
						if (ret.status == 1) {
							$$("list_table").parse(ret.data.items, "json");
						}
					});
				}, 500);
			}
			pro_ini();
			loadGridData();
		</script>-->
