{{ page.header }}
{{ page.nav }}
		<div class="child-banner" style="background-image: url(/{{ directory }}/img/bg-news.jpg);">
			<div class="child-banner-1">
				<div>
					<h2>新闻动态</h2>
					<span>NEWS</span>
				</div>
			</div>
		</div>
{{ page.breadcrumb }}
{{ page.content }}
  {{ page.links }}
{{ page.footer }}
{{ page.float }}
